.contactHero {
	width: 100%;
	height: 450px;
	background-image: url("/game-hero.png");
	background-position: center;
	background-size: cover;
}

.contactContent {
	margin: 0 auto;
	display: flex;
	height: 950px;
	width: 80%;
	margin-top: 80px;
}

.contactInfo {
	height: 100%;
	width: 30%;
}

.contactForm {
	width: 70%;
	margin-left: 100px;
}

.contactBox {
	background-color: #F3F3F3;
}

#box1 {
	height: 475px;
}

#box2 {
	margin-top: 50px;
	height: 375px;
}

.contactBox h1 {
	padding-top: 60px;
	font-family: "VT323";
}

.contactBox span {
	font-family: "Roboto-Serif";
	display: flex; 
    align-items: center;
	margin-top: 35px;
	align-self: center;
}

.contactBox a {
	display: flex; 
    align-items: center;
	color: black;
}

.contactBox a:hover {
	color: #F27447;
}

.contactWrap {
	margin: 0 auto;
	align-self: center;
	width: 80%;
}

.contactIcon {
	color: #494949;
	font-size: 22px;
	margin-right: 10px;
}

form {
	width: 80%;
	display: inline-block;
}

.contactForm h1 {
	font-size: 45px;
	font-family: "VT323";
	margin-bottom: 75px;
}

.contactForm .inputFlex {
	display: flex;
}

form input {
	padding: 10px;
	padding-left: 0px;
	border-style: none;
	border-bottom: 3px solid #57595e6c;
	color: #494949da;
	font-family: "Roboto-Serif";
	font-size: 18px;
}

form input:hover {
	border-color: #F27447;
	cursor: pointer;
}

form input:focus {
	color: #F27447;
	outline: none;
	border-color: #F27447;
	cursor: text;
}

form select {
	width: 100%;
	padding: 10px;
	border-style: none;
	outline: 3px solid #57595e6c;
	color: #494949da;
	font-family: "Roboto-Serif";
	font-size: 18px;
	border-radius: 10px;
	margin-bottom: 50px;
}

form select:hover {
	outline-color: #F27447;
	cursor: pointer;
}

form select:focus {
	color: #F27447;
	outline-color: #F27447;
	cursor: pointer;
	
}

#fName {
	width: 50%;
	margin-right: 30px;
}

#lName {
	width: 50%;
	margin-left: 35px;
}

#email {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 45px;
}

textarea {
	height: 300px;
	width: 100%;
	padding: 20px;
	border: 3px solid #57595e6c;
	color: #494949da;
	font-family: "Roboto-Serif";
	font-size: 18px;
	resize: vertical;
	background-color: #f3f3f398;
	margin-bottom: 65px;
	border-radius: 10px;
}

textarea:hover {
	border-color: #F27447;
	cursor: pointer;
}

textarea:focus {
	color: #F27447;
	border-color: #F27447;
	outline: none;
	cursor: text;
}

#submit {
	width: 65%;
	background-color: white;
	border: 3px solid #F27447;
	color: #F27447;
	text-align: center;
	border-radius: 8px;
}

.btnCenter {
	display: flex;
	justify-content: center;
}

#submit:hover {
	color: white;
	background-color: #F27447;
	cursor: pointer;
}

.modal {
	background-color: #F27447;
	color: white;
	display: flex;
	height: 60px;
}

.modalContent {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modalContent h2 {
	margin-left: 2%;
	margin-top: 15px;
	font-family: "VT323";
	letter-spacing: 2px;
}

.closeBtn {
	margin-right: 2%;
	margin-bottom: 15px;
	width: 30px;
  	height: 30px;
	font-size: 20px;
	background-color: white;
	color: #F27447;
	font-family: "VT323";
	cursor: pointer;
	border-style: none;
	border-radius: 0px;
}

.closeBtn:hover {
	background-color: #F27447;
	color: white;
	border: 2px solid white;
}

@media (max-width: 1230px) {
	.contactContent {
		display: block;
		height: 1500px;
	}
    .contactInfo {
		height: 500px;
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
	.contactIcon {
		font-size: 25px;
	}
	.contactBox h1 {
		padding-top: 50px;
		font-family: "VT323";
	}
	
	.contactBox span {
		font-size: 15px;
		margin-top: 30px;
		align-self: center;
	}
	
	.contactBox a {
		display: flex; 
		align-items: center;
		color: black;
	}
	#box1, #box2 {
		width: 40%;
		height: 100%;
	}
	#box2 {
		margin-top: 0;
	}
	.contactForm {
		width: 100%;
		margin-left: 0;
		margin-top: 100px;
		text-align: center;
	}
}

@media (max-width: 480px) {
    /* For phones */
}