.blogSlug {
	background-color: #fff;
	width: 100%;

	/* padding-top: 3rem; */
	padding-bottom: 3rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	text-align: left;
	font-family: var(--roboto-font);

	padding-left: 20%;
	padding-right: 20%;
}

.blogSlug img {
	height: 350px;
	width: 100%;

	object-fit: cover;
	object-position: center;

	margin-bottom: 2em;
}
